:root{
    --bg-color: #333940;
    --color-pink: rgba(232, 102, 236, 1);
    --color-drk-pink: rgba(232, 102, 236, 0.3);
    --color-white: #fff;
}

* {
    font-family: 'Roboto', sans-serif;  
}

html{
    font-size: 62.5% /* font-size 1em = 10px on default browser settings */
}

body{
    background-color: var(--bg-color);
    font-size: 1.5rem;
}

h1{
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

header{
    width: 96%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.page-header {
    padding: 1rem;
    color: var(--color-pink);
}

header p{
    color: var(--color-white);
}

.container{
    width:96%;
    margin: 2em;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.column {
    flex: 0 0 33%;
    padding: 1rem;
    margin-bottom: 1rem;
}

.card {
    margin: 10%;
}

.code-card {
    border-style: dashed;
    border-color: var(--color-white);
}

.card-header {
    position: relative;
    margin-top: -20px;
    border-style: solid;
    color: var(--color-pink);
    border-color: var(--color-white);
    width: 100%;
}


.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
}

.linear-gradient-background{
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.3) 100%

    );
}

.code-card .code-header{
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    border-color: var(--color-white);
}

.code-card:hover,
.code-card:hover .card-header{
    box-shadow: inset 0px 0px 8px
        rgba(232, 102, 236, 1), 0 0 15px
        rgba(232, 102, 236, 1);
}