:root{
    --bg-color: #333940;
    --color-pink: rgba(232, 102, 236, 1);
    --color-drk-pink: rgba(232, 102, 236, 0.3);
    --color-white: #fff;
}

* {
    font-family: 'Roboto', sans-serif;  
}

html{
    font-size: 62.5% /* font-size 1em = 10px on default browser settings */
}

body{
    background-color: var(--bg-color);
    font-size: 1.5rem;
    color: var(--color-white);
}

h1{
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
    padding-top: .5rem;
}

header{
    width: 96%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.page-header {
    padding: 1rem;
    color: var(--color-pink);
}

header p{
    color: var(--color-white);
}

.container{
    width:96%;
    margin: 2em;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.column {
    flex: 0 0 33%;
    padding: 1rem;
    transition: flex-basis 500ms ease-in-out;
    margin-bottom: 1rem;
}

.code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    border: .2rem dashed var(--color-white);
    position: relative;
    z-index: 1;
}

.card-header {
    position: relative;
    margin-top: -3rem;
    color: var(--color-pink);
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
    background-color: var(--bg-color);
    border: .2rem solid var(--color-white);
    border-radius: 1rem;
    z-index: 100;
}

.linear-gradient-background{
    background-image: linear-gradient(
        var(--color-drk-pink) 0%,
        var(--color-pink) 100%
    );
    border-radius: 1rem;
}

.code-card .code-header{
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
    color: var(--color-pink);
    border-color: var(--color-white);
    padding: 1rem;
}

.code-card:hover,
.code-card:hover .card-header{
    box-shadow: inset 0px 0px 8px
        var(--color-drk-pink), 0 0 15px
        var(--color-pink);
}

/* https://codepen.io/thomas-eilermann/pen/grjEjE */